#header{
    position: relative;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header h1 {
  font-size: 2rem;
  line-height: 1.4;
  color: var(--color-white);
  padding-bottom: 1.5rem;
  position: relative;
}
.header h1 span {
  display: block;
}
h1 span:nth-child(1){
    font-weight: 900;
}
h1 span:nth-child(2){
    font-weight: 300;
}
h1 span:nth-child(3){
    font-weight: 100;
}
.header h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65%;
    background: var(--color-white);
    height: 1px;
}
.header-right p{
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--color-white);
    width: 70%;
    padding: 15px 0;
}

.header-right, .header-left{
    width: 50%;
}
.header-left{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-left img {
  width: 70%;
}
.floating-icon{
    position: absolute;
    width: 3rem;
    height: 3rem;
    background: var(--light-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.floating-icon a{
    margin-right: 0;
}
.mouse{
    transform: translateY(-25%);
    animation: bounce .8s ease infinite alternate;
}
@keyframes bounce{
    0%{
        transform: translateY(-25%);
    }
    100%{
        transform: translateY(25%);
    }
}
@media screen and (max-width:680px){
    .header{
        flex-direction: column;
    }
    .header-right, .header-left{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
    }
    .header-right{
        margin-bottom: 3rem;
    }
    .header-left img {
        width: 60%;
      }
}